# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 記得先 Import 正確的套件

import pandas as pd
import numpy as np

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [2]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})

In [3]:
print(df1)

    fruit  weight  price
0   apple    high     10
1  banana  medium      3
2  orange     low     11
3   apple    high      0
4  banana  medium     12
5  orange     low      8
6   apple    high      2
7  banana  medium      2
8  orange     low      7

In [4]:
print(df2)

    fruit weight  price
0   apple   high     11
1  orange    low      4
2    pine   high      6
3   apple    low      4
4  orange   high      7
5    pine    low      4

In [5]:
# - 依照 fruit 欄位做合併

pd.merge(df1,df2,on="fruit")

     fruit weight_x  price_x weight_y  price_y
0    apple     high       10     high       11
1    apple     high       10      low        4
2    apple     high        0     high       11
3    apple     high        0      low        4
4    apple     high        2     high       11
5    apple     high        2      low        4
6   orange      low       11      low        4
7   orange      low       11     high        7
8   orange      low        8      low        4
9   orange      low        8     high        7
10  orange      low        7      low        4
11  orange      low        7     high        7

In [6]:
# - 依照 index 索引做合併

df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

default 是 inner join, 兩邊都有值才會合併

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

因為欄位重覆

In [7]:
df1.join(df2, lsuffix="_df1",rsuffix="_df2")

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high         10     apple       high       11.0
1    banana     medium          3    orange        low        4.0
2    orange        low         11      pine       high        6.0
3     apple       high          0     apple        low        4.0
4    banana     medium         12    orange       high        7.0
5    orange        low          8      pine        low        4.0
6     apple       high          2       NaN        NaN        NaN
7    banana     medium          2       NaN        NaN        NaN
8    orange        low          7       NaN        NaN        NaN