# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [1]:
# 記得先 Import 正確的套件

import pandas as pd

In [2]:
dict1 = {
    "Apples" : ['30'],
    "Bananas" : ['21']
}
df1 = pd.DataFrame.from_dict(dict1)
print(df1)

dict2 = {
    "Apples" : ['35','41'],
    "Bananas" : ['21','34']
}

df2 = pd.DataFrame.from_dict(dict2)
print(df2)
df2.index = ['2017 Sales','2018 Sales']
print(df2)

  Apples Bananas
0     30      21
  Apples Bananas
0     35      21
1     41      34
           Apples Bananas
2017 Sales     35      21
2018 Sales     41      34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [3]:
d = [
    ['Austin',139,'Sun'],
    ['Dallas',237,'Sun'],
    ['Austin',326,'Mon'],
    ['Dallas',456,'Mon'],
    ]

df = pd.DataFrame(d, columns=['city','visitor','weekday'])
df

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [4]:
df.groupby("weekday").mean()

         visitor
weekday
Mon        391.0
Sun        188.0