# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [3]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

In [4]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [14]:
#計算每個不同種類 animal 的 age 的平均數
df.groupby('animal').mean()['age']

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [21]:
#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df.sort_values(by='age').sort_values(by='visits',ascending=False)

  animal  age  visits priority
f    cat  2.0       3       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
h    cat  NaN       1      yes

In [50]:
#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df.replace(['yes','no'],[True,False])

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [51]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.443866  0.701502  0.806581
1  0.541666  0.890156  0.816640
2  0.783391  0.598670  0.258804
3  0.560741  0.790402  0.019055
4  0.140993  0.443517  0.757168

In [55]:
df-df.mean()

          0         1         2
0 -0.050265  0.016652  0.274931
1  0.047535  0.205306  0.284990
2  0.289260 -0.086179 -0.272846
3  0.066610  0.105553 -0.512595
4 -0.353139 -0.241332  0.225519

In [58]:
df.sub(df.mean(axis=1),axis=0)

          0         1         2
0 -0.206784  0.050852  0.155931
1 -0.207821  0.140669  0.067153
2  0.236436  0.051715 -0.288151
3  0.104008  0.333669 -0.437678
4 -0.306233 -0.003709  0.309942

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [59]:
df

          0         1         2
0  0.443866  0.701502  0.806581
1  0.541666  0.890156  0.816640
2  0.783391  0.598670  0.258804
3  0.560741  0.790402  0.019055
4  0.140993  0.443517  0.757168

In [66]:
df.sum(axis=1)

0    1.951949
1    2.248462
2    1.640866
3    1.370199
4    1.341679
dtype: float64

In [67]:
df.sum(axis=1).idxmin()

4

In [68]:
df.sum()

0    2.470657
1    3.424248
2    2.658249
dtype: float64

In [69]:
df.sum().idxmin()

0